.imagem {
    opacity: 0.8;
    background-color: #333333;
    height: 600px;
    width: 100%;
    object-fit: cover;
    object-position: 54% 31%;   
}

.carousel-caption {
    margin-bottom: 2rem;
}

.cap-container {
    display: flex;
    flex-direction: column;
}

.carousel-leg, .carousel-sub {
    font-family: "Open Sans", sans-serif;
    text-align: start;
    text-align: start;
}

.carousel-leg {
    font-size: 32px;
    font-weight: 500;
}

.carousel-sub {
    font-size: 17px;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
}

.botao-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px
    
}

.botao-container_icones {
    display: flex;
    gap: 1.0em;
}

.icones-link {
    color: #ffffff;
}

.botao {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E6322B;
    color:  #ffffff;
    width: 162px;
    height: 40px;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    
}

    
@media screen and (min-width: 768px) {
    .imagem {
        height: 700px;
        width: 100%;
        object-position: 54% 31%;
    
        
    }
    
    .carousel-caption {
        margin-bottom: 7rem;
    }
    
    .carousel-leg {
        font-size: 50px;
        text-shadow: 1px 0px 10px black;
    }

    .carousel-sub {
        font-size: 20px;
    }
    
}
