.container-endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0;
    background-color: #AEB3B9;
}

.endereco-texto h2 {
    margin-bottom: 10px;
}

.endereco-texto p {
    padding: 0 16px;
    text-align: center;
}

.endereco-map {
    width: 300px; 
    height: 150px;
}