.nossoEspaco-container-dsktp {
    display: none;
}

.nossoEspaco-container {
    padding: 2em 0;
    background-color: #F5F5F5;
}

.nossoEspaco-Title, h2 {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
}

.nossoEspaco-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    
}


.icons-first, 
.icons-second, 
.icons-third {
    display: flex;
    text-align: center;
    gap: 30px;

}

.icon-salaCabines, .icon-coworking, .icon-estacionamento, .icon-auditorio, .icon-endereco, .icon-wifi{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 8px;
    opacity: 1;
    width: 162px;
    height: 206px;
    padding: 1em;
    
}

.wpp-title {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin: 16px 0 10px 0;
}

.icons-firstWpp svg {
    height: 40px;
    width: 40px;
}

.wpp-sub {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 768px) {
    .wpp-sub {
        font-size: 11px;
    }

}

@media screen and (min-width: 1024px) {
    .nossoEspaco-container-dsktp {
        display: block;
    }
    
    .nossoEspaco-container {
        display: none;
    }

    .nossoEspaco-container-dsktp {
        background-color: #F5F5F5;
        padding: 5em 0;
    }

    .nossoEspaco-Title, h2 {
        font-size: 38px;
        font-weight:600 ;
    }

    .icon-salaCabines, 
    .icon-coworking, 
    .icon-estacionamento, 
    .icon-auditorio, 
    .icon-endereco, 
    .icon-wifi {
        width: 425px;
        height: 390px;
    }

    .wpp-title{
        font-size: 32px;
        font-weight: 600;
    }

    .wpp-sub {
        font-size: 28px;
    }
}



